* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

li {
  list-style: none;
}

div {
  box-sizing: border-box;
}
.overflowDot1{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.overflowDot2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}